* {
    font-family: 'Calibri Light';
}
section {
    margin: 5px;
}
h3 {
    margin: 10px 0;
}
#chatBox {
    padding: 10px;
    outline: solid black 1px;
    height: 200px;
    overflow-y: scroll;
    font-size: 0.7em;
    overflow-wrap: break-word;
}
#messageInput {
    width: 265px;
}
#hostConfig input {
    float: right;
}
#hostConfig div {
    padding-bottom: 20px;
}
#searchBox {
    margin-top: 10px;
}
#errorDisplay {
    color: red;
}
.system {
    color: grey;
}
.leave {
    color: purple;
}
.join {
    color: green;
}
.error {
    color: red;
}
#memberListDiv {
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-left: solid black 1px;
}
.connectionName {
    color: grey;
}
#controlPanel {
    margin: 10px 0;
}
#wifi {
    float: right;
    width: 25px;
    height: 25px;
}
.updateButton {
    font-size: 0.8em;
}
#downloadUpdateProgress {
    width: 40%;;
}
#autoUpdateStatus {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#statusBar {
    border-bottom: black solid 1px;
}
#appVersion {
    float: right;
    font-size: 0.8em;
    margin-right: 10px;
}
.inlineBlock {
    display: inline-block;
}
#settingsIcon {
    float: right;
    width: 30px;
    height: 30px;
}
#settingsContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    justify-content: center;
    align-items: center;
}
#settingsDiv {
    width: 300px;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
#settingsDiv h2 {
    margin-top: 0;
}