* {
    font-family: 'Calibri Light';
}
section {
    margin: 5px;
}
#chatBox {
    padding: 10px;
    border: solid black 1px;
    height: 200px;
    overflow-y: scroll;
    font-size: 0.7em;
}
#messageInput {
    width: 265px;
}
#hostConfig input {
    float: right;
}
#hostConfig div {
    padding-bottom: 20px;
}
#searchBox {
    margin-top: 10px;
}
#errorDisplay {
    color: red;
}
.system {
    color: grey;
}
.leave {
    color: purple;
}
.join {
    color: green;
}
.error {
    color: red;
}
#memberListDiv {
    position: absolute;
    top: 347px;
    left: 250px;
    padding-left: 10px;
    border-left: solid black 1px;
}
.connectionName {
    color: grey;
}
#memberList {
    font-size: 0.8em;
}